/*
font-family: 'Belleza', sans-serif;
font-family: 'Spectral SC', serif;
*/

h1 {
    font-family: 'Spectral SC', serif;
    color: #003e6b;
}

body {
    background-color: #67A1E0;
    padding: 10px 10px;
}

.navbar {
    font-family: 'Belleza', sans-serif;
    display: flex;
    list-style-type: none;
    background-color: #003e6b;
    padding: 2px;
    width: auto;
}

.navbar a {
    font-family: 'Belleza', sans-serif;
    padding: 2px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    font-family: 'Belleza', sans-serif;
    background-color: black;
}

.navbar li {
    font-family: 'Belleza', sans-serif;
    margin: 0 4px;
}

li {
    font-family: 'Spectral SC', serif;
}

p {
    font-family: 'Spectral SC', serif;
}